<web-app>
<context-param>
<param-name>oracletab</param-name>
<param-value>yes</param-value>
</context-param>
<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>
<context-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>

<context-param>
<param-name>user</param-name>
<param-value>system</param-value>
</context-param>
<context-param>
<param-name>pass</param-name>
<param-value>nimish123</param-value>
</context-param>
<servlet>
<servlet-name>ApplicationInitializer</servlet-name>
<servlet-class>ApplicationInitializer</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>ApplicationInitializer</servlet-name>
<url-pattern>/table</url-pattern>
</servlet-mapping>
</web-app>