<web-app>
<context-param>
<param-name>name1</param-name>
<servlet>
<param-value>xyz<param-value>
</context-param>
<servlet-name>my</servlet-name>
<jsp-file>init.jsp</jsp-file>
<init-param>
<param-name>name</param-name>
<param-value>abc</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>my</servlet-name>
<url-pattern>run></url-pattern>


</web-app>